---
layout: layout
---

<div class="content">    
    <div class="row">	
        <div class="span7 column">
            <h1>Compliance Item: {{ page.slug }} </h1>
        </div>
    </div>

    <div class="row">	
        <div class="span7 columns">
            {{ content }}
        </div>
    </div>
    
    <div class="row">	
        <div class="span7 column">
            <p>
              <i class="icon-comment"></i> <a href="{{ site.url }}{{ page.url }}#disqus_thread""></a>     
              <br />
              <i class="icon-tags"></i> Tags :{% for tag in page.tags %} <a href="{{ site.url }}/tags/{{ tag }}" rel="tooltip" title="View pages tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}
              <br />
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.author.twitter }}">Tweet</a> <g:plusone size="medium"></g:plusone></h5>
            </p>
        </div>
    </div>

    { site.categories.Windows-Events }

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- Google + -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
</div>
    
